@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jua';
  src: url('/assets/fonts/Jua-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream-7ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body {
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  min-height: 100vh;
  overflow-x: hidden;
}

body > div {
  width: 100%;
  max-width: 31rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(181, 181, 181);
}

@keyframes change-background-color {
  0% {
    background-color: #f8bb01;
  }
  50% {
    background-color: #6366f1;
  }
  100% {
    background-color: #f8bb01;
  }
}

.bg-change-color {
  animation: change-background-color 5s linear infinite;
}
